body, .famous-container
	background-color: $backdrop-color
	color: $main-font-color
	font-family: $font-stack
	.famous-container
		overflow: hidden

.page-header
	font-size: 24px

.world-background
	background-color: black
	border-radius: 2000px
	
.demo-person
	background-color: darkgrey
	border-radius: 50px