body, .famous-container
	background-color: $backdrop-color
	color: $main-font-color
	text-shadow: $main-font-outline
	font-family: $font-stack
	.famous-container
		overflow: hidden

.root-container
	overflow: hidden

.page-header
	font-size: 24px
	line-height: 35px

.world-background, .stars-container
	background-color: black
	border-radius: 2000px
	//overflow: hidden
	
.demo-person
	background-color: darkgrey
	//border-radius: 50px

.star
	background-color: white
	display: inline-block
	position: relative

.back-button-container
	text-align: center
	.back-button
		font-size: 40px !important

.life-event-container
	cursor: default
	overflow: visible
	a
		text-decoration: none
		color: darkorchid
		font-weight: 600
	.header-container
		.header
			display: inline-block
			margin: 0
			overflow: hidden
			text-overflow: ellipsis
			width: inherit
	.image-container
		cursor: pointer
	.description-container
		.description
			text-align: center
			transition: font-size 0.7s
			overflow: hidden
			white-space: nowrap
			text-overflow: ellipsis
	&.expanded
		.description-container
			.description
				font-size: 30px
				white-space: normal