head
	link(href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css')
	meta(charset='utf-8')
	meta(name='viewport', content='height=device-height width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no')
	title
		| jordan garside

template(name="layout")
	+famousContext id="mainCtx" 
		+Modifier id="rootModifier"
			+ContainerSurface size="[undefined, undefined]"
				+Surface size="[true, true]" class="page-header" origin="[0.06, 0.04]" align="[0.06, 0.04]"
					+yield
				+Surface size="[500,500]" class="world-background" origin="[.5,1]" align="[.5,1]" translate="[0, 300, 0]"
					| 