head
	link(href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css')
	//IOS
	meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi")
	//ANDROID
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1")
	title
		| jordan garside

template(name="layout")
	+yield