head
	link(href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css')
	meta(charset='utf-8')
	meta(name='viewport', content='height=device-height width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no')
	title
		| jordan garside

template(name="layout")
	+famousContext id="mainCtx" 
		+Modifier id="rootModifier"
			+ContainerSurface size="[undefined, undefined]" id="rootContainer" class="root-container"
				+Surface size="[true, true]" class="page-header" origin="[0.06, 0.04]" align="[0.06, 0.04]"
					+yield
				+Modifier id="starContainerTranslationModifir"
					+ContainerSurface size="[2000,2000]" id="starsContainer" class="stars-container" origin="[.5,0]" align="[.5,1]"
						+Modifier id="starsPositionModifier"
							+Surface id="starsSurface"
								| 
				+Modifier id="animationsAlignmentModifier" origin="[.5,1]" align="[.5,1]"
					| 