<div class="inlet-container template-container">
	<div class="inner-container">
		<h1>
			<a href="https://inlet.nu/" target="_blank">inlet</a>
		</h1>

		<p>
			A website for thoughts.
		</p>

		<p>
			inlet is nowhere near complete, and I really overshot when I tried to make this a few years ago.
		</p>

		<p>
			This is the next project on my list (it's currently down).
		</p>
	</div>
</div>