<div class="computational-chemistry-container template-container">
	<div class="inner-container">
		<h1>
			Machine Learning and Computational Chemistry
		</h1>

		<p>
			I'm currently working on a paper with <a href="https://www.linkedin.com/in/tapavicza-enrico-9b7b7659" target="_blank">Enrico</a> at Long Beach State.
		</p>

		<p>
			The concept is based around combining cheap TD-DFT caluclations with machine learning methods to get close to CC2 accuracy. The idea is you could do 20 CC2 calculations and generalize the error relative to TD-DFT so that you could say run 1000 TD-DFT calculations, add the error and get close to CC2 accuracy.
		</p>

		<p>
			I attempted to use neural networks, support vector machines, and quite a few ensemble methods. In the end it looks like a Gradient Boost technique works out the best for this type of data.
		</p>
	</div>
</div>