<div class="electrochem-container template-container">
	<div class="inner-container">
		<h1>
			Quantum Tunneling through Carbon Monolayers
		</h1>

		<p>
			Worked for about a year in a research lab with <a href="http://slowinskilabatcsulb.weebly.com/" target="_blank">Slowinski</a>.
		</p>

		<p>
			In that time a learned a bit about the frustrations of not having an adequate machine shop, and the some basic electrochemical junction techniques.
		</p>

		<p>
			We wound up publishing a <a href="http://www.electrochemsci.org/papers/vol9/90804345.pdf" target="_blank">paper</a> on how the thickness of the water layer between carboxyl-terminated alkonthiols and the mercury electrode varies with the pH of the solution.
		</p>

		<p>
			I also did work with Gallium Indium Eutectic showing that the oxidized layer that forms on its surface has a measurable resistance that will be within the error for these junction experiments depending on the particular setup. We had quite a bit of data on this, but due to circumstances never ended up publishing it.
		</p>
	</div>
</div>