<div class="tesloop-container template-container">
	<div class="inner-container">
		<h1>
			<a href="https://tesloop.com" target="_blank">Tesloop</a>
		</h1>

		<p>
			Long distance Uber with Teslas.
		</p>

		<p>
			Tesloop is based around using Teslas to move people between cities. Since the electricity and maintenance are free it should be cheap in theory.
		</p>

		<p>
			I helped them make their home page, booking website, database structure and logic, web app for drivers, and began working on a react-native app for customers before I left.
		</p>
	</div>
</div>