<div class="about-container template-container">
	<div class="inner-container">
		<h1>
			About Me
		</h1>

		<p> Currently driving for Uber and working on my own projects. </p>

		<p> Graduated with a Chemistry BA from Long Beach State. I learned web and application development while finishing school so I could <i>attempt</i> to make <a href="https://inlet.nu" target="_blank">inlet</a>. </p>

		<p> Did web and application development for about a year and a half for <a href="http://knameit.com/" target="_blank">knameit</a> and <a href="https://tesloop.com/" target="_blank">Tesloop</a> then decided I never want to work for startups again. </p>

		<p> Along the way I picked up basic skills in Node, SQL, NoSQL, Angular, Ionic, React, React-Native, Meteor, Famo.us <i>(RIP)</i>, Python, Tensor Flow, and Go. </p>

		<div class="link-container">
			<a href="https://github.com/jordangarside" target="_blank"><i class="fa fa-github"></i></a>
			<a href="https://angel.co/jordan-garside" target="_blank"><i class="fa fa-angellist"></i></a>
			<a href="https://www.linkedin.com/in/jordangarside" target="_blank"><i class="fa fa-linkedin"></i></a>
			<a href="https://stackoverflow.com/users/2898510/jordan" target="_blank"><i class="fa fa-stack-overflow"></i></a>
			<a href="mailto:jordangarside@gmail.com" target="_blank"><i class="fa fa-envelope-o"></i></a>
		</div>
	</div>
</div>